.nav-dark {
  margin: 0;
  padding: 0;
  width: 100%;
  color: rgb(247, 3, 3);
  background-color: rgb(0, 0, 0, .5);
}
h1 {
  font-family: "Supermercado one", cursive;
}

.varela {
  font-family: "Varela round", cursive;
}

.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #33BACE;
}

body {
  margin: 0;
  font-family: "Supermercado one", cursive;
  color: #33BACE;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;
  padding: 100px;
}

.blue {
  background: #151558;
}

.red {
  background: rgb(5, 22, 27);
}
.purple {
  background: rgb(30, 11, 65);
}
.indigo {
  background: rgb(38, 16, 117);
}

footer {
  background-color: black;
  color: #33BACE;
}

.App-logo {
  height: 1;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 137px;
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.wave2 .shape-fill {
  fill: #151558;
}

.scrollTextSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background:rgb(1, 1, 1)
}

.scrollDiv {
  position: relative;
  transform: skewY(345deg) translateY(-350px);
  animation: animateColor 5s linear infinite;
}
@keyframes animateColor {
  0% 
  {
  filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}

.scrollDiv h2{
  position: relative;
  width: 100%;
  font-size: 8em;
  color: #fff;
  pointer-events: none;
  line-height: 1em;
  white-space: nowrap;
  text-shadow: calc(var(--x)) 100px 0 rgba(255, 255, 255, 0.1);
  transform: translateX(calc(0% - var(--x) * var(--i, 2)));
}

.i1 {transform: translateX(calc(0% - var(--x) * 0.5)) !important;}
.i2 {transform: translateX(calc(0% - var(--x) * .75)) !important;}
.i3 {transform: translateX(calc(0% - var(--x) * 1.5)) !important;}
.i4 {transform: translateX(calc(0% - var(--x) * 2.0)) !important;}
.i5 {transform: translateX(calc(0% - var(--x) * .9)) !important;}
.i6 {transform: translateX(calc(0% - var(--x) * 1.3)) !important;}
.i7 {transform: translateX(calc(0% - var(--x) * 1.8)) !important;}
.i8 {transform: translateX(calc(0% - var(--x) * 0.4)) !important;}
.i9 {transform: translateX(calc(0% - var(--x) * .9)) !important;}


.scrollDiv span {
  color: #0f0;
  margin: 0 10px;
}

.scrollDiv span:nth-child(even) {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}