.nav-dark {
  color: rgb(247, 3, 3);
}
h1 {
  font-family: "Supermercado one", cursive;
}

.about-text, h3, h2, p {
  font-family: "Varela round", cursive;
}

.App {
  text-align: center;
  background-color: black;
  color: #33BACE;
}

body {
  margin: 0;
  font-family: "Supermercado one", cursive;
  color: #33BACE;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px;
}

.blue {
  background: #151558;
}

.red {
  background: rgb(5, 22, 27);
}
.purple {
  background: rgb(30, 11, 65);
}
.indigo {
  background: rgb(38, 16, 117);
}

footer {
  background-color: black;
  color: #33BACE;
}

.App-logo {
  height: 1;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 137px;
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.wave2 .shape-fill {
  fill: #151558;
}

